# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# Node.js
node_modules/
dist/
out/
# *.vsix (Removed from ignore to allow GitHub distribution)

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# Extension specific
extension/dist/
extension/out/
extension/backend/.venv/

# Hardware traces
auto_fault.json
*.log
